{{> layout/header}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainers}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <span class="badge badge-secondary">{{name}} <!--3--></span>
                    </h4>
                </div>
                <div>
                {{#team}}
                    <div>
                        <span class="badge badge-primary">{{ts.getPokemon(25)}} id : {{this.pokemonType}}</span>
                        <span class="badge badge-primary"> lvl : {{this.level}}</span>

                    </div>
                {{/team}}
                </div>

            </div>
        </div>
        {{/trainers}}
    </div>

</div>

</body>
</html>